<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/admin/header :: header"></th:block>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <th:block th:replace="/admin/sidebar :: sidebar"></th:block>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <th:block th:replace="/admin/topbar :: topbar"></th:block>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-1 text-gray-800">Passes</h1>
                <p class="mb-4">You can schedule bulk issuance of passes to multiple members. Passes will be issued to members one day before the start time.</p>
                <!-- Content Row -->
                <div class="row">
                    <!-- Grow In Utility -->
                    <div class="col-lg-8">
                        <div class="card position-relative">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Bulk Pass Issuance List</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Member Group ID</th>
                                            <th>Status</th>
                                            <th>Count</th>
                                            <th>Start DateTime</th>
                                            <th>End DateTime</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="bulkPass : ${bulkPasses}" th:classappend="${bulkPass.getStatus().name() == 'COMPLETED' ? 'table-active' : ''}">
                                            <td th:text="${bulkPass.getUserGroupId()}"></td>
                                            <td th:if="${bulkPass.getStatus().name() == 'COMPLETED'}">Issued</td>
                                            <td th:unless="${bulkPass.getStatus().name() == 'COMPLETED'}">Not Issued</td>
                                            <td th:text="${bulkPass.getCount()}"></td>
                                            <td th:text="${#temporals.format(bulkPass.getStartedAt(), 'yyyy-MM-dd HH:mm')}"></td>
                                            <td th:text="${#temporals.format(bulkPass.getEndedAt(), 'yyyy-MM-dd HH:mm')}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card position-relative full-height">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Register Bulk Pass Issuance</h6>
                            </div>
                            <div class="card-body">
                                <form action="#" th:action="@{/admin/bulk-pass}" th:object="${request}" method="post">
                                    <div class="small mb-1">Package</div>
                                    <select class="form-control mb-3" th:field="*{packageSeq}">
                                        <option value="">Please select a registered package.</option>
                                        <option th:each="package : ${packages}"
                                                th:value="${package.getPackageSeq()}"
                                                th:text="${package.getPackageName()}" >
                                        </option>
                                    </select>

                                    <div class="small mb-1">Member Group ID</div>
                                    <select class="form-control mb-3" th:field="*{userGroupId}">
                                        <option value="">Please select a registered member group.</option>
                                        <option th:each="userGroupId : ${userGroupIds}"
                                                th:value="${userGroupId}"
                                                th:text="${userGroupId}">
                                        </option>
                                    </select>

                                    <div class="small mb-1">Start DateTime</div>
                                    <input class="form-control mb-5" type="text" placeholder="2024-07-10 00:00" th:field="*{startedAt}" />
                                    <div class="d-flex align-items-end flex-column">
                                        <input class="btn btn-primary" type="submit" value="+ Register">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fade In Utility -->

    </div>

</div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<th:block th:replace="/admin/footer :: footer"></th:block>
</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<th:block th:replace="/admin/script :: script"></th:block>

</body>
</html>
